<!DOCTYPE html>
<html>
    <head>
        <title>Yufan's Django Girls blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Yufan's Django Girls blog</a></h1>
        </header>

        <article>
            <time>published: 27.09.2025, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>Some random words here.</p>
        </article>

        <article>
            <time>published: 27.09.2025, 12:14</time>
            <!# make it clickable>
            <h2><a href="">My second post</a></h2> 
            <p>Some more random words here.</p>
        </article>
    </body>
</html>